.infos-1 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.infos-1-head {
  width: 50%;
  margin: 5px auto;
}
.infos-1 p {
  margin-left: 10px;
}
.infos-3 {
  padding: 8px;
  display: flex;
}
.infos-3 p {
  width: 50%;
}
.infos-3 h4 {
  width: 50%;
}
.heading-2 {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  height: 30px;
}
.heading-2-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}
.btn2 {
  display: flex;
}
.edit2 {
  margin-left: 20px;
  background-color: red;
  width: 80px;
  padding: 4px;
  border: 2px solid black;
  border-radius: 6px;
}

.asset-head {
  border-bottom: 2px solid lightgray;
  margin-top: 10px;
}
.asset-head h3 {
  margin-left: 100px;
  font-size: 18px;
  font-weight: 700;
}
.container-1 {
  width: 1050px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid lightgray;
  position: relative;
  top: 30px;
  left: 270px;
}
form.search input[type="search"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid lightgray;
  width: 150px;
  background: white;
  border-radius: 5px 0 0 5px;
}
form.search button {
  width: 75px;
  padding: 5px;
  background: brown;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.footer-in {
  display: flex;
}
.footer-in button {
  padding: 2px;
  margin-right: 2px;
  border-right: 2px solid lightgray;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
